@charset "utf-8";
/* CSS Document */

.orta{width:450px; height:400px; background-color:#FFFFFF;}

ul#menu, ul#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#menu li {
    float: left;
    position: relative;
    width: 150px;
}
ul#menu li ul {
    display: none;
    position: absolute;
    top: 19px; /* yukseklik 15px + sonradan eklenecek paddingler 4px toplam 19px */
    left: 0;
}
ul#menu li > ul {
    top: auto;
    left: auto;
}
ul#menu li a {
    font: bold 11px arial, helvetica, sans-serif;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #888 #555 #bbb;
    margin: 0;
    padding: 5px 6px;
    color: #000;
    background: #efefef;
    text-decoration: none;
}
ul#menu li a:hover {
    color: #a00;
    background: #fff;
}
ul#menu li:hover ul {
  display: block;
}
ul#menu li:hover ul, ul#menu li.over ul{
    display: block;
  }